<!--
@Author: mars
@Date:   2016-12-31T00:30:20-05:00
@Last modified by:   mars
@Last modified time: 2017-01-20T01:29:35-05:00
-->


<div id="mapdiv" style="width: 100vw; height: 100vh;"></div>


<md-card class="fill-page blue-sky" style="position: absolute; bottom: 0;">
  <!-- <div class="cover-all"></div> -->
  <div class="vertical-wrapper" style="background-color: rgba(25, 157, 239, 0.65)">
    <div class="vertical-center">
      <span class="topleft-corner"></span>
      <span class="top-corner"></span>
      <span class="bottomleft-corner"></span>
      <span class="bottomright-corner"></span>
      <div class="box title">
        <input type="text" name="" value="" class="url large-input" placeholder="Type url here...">
      </div>
      <div class="box description" *ngIf="!initializing" style="font-size: 1em;">
        <button type="button" class="blue-round" name="create-network">GO</button>
      </div>
    </div>
  </div>


</md-card>
