<!--
@Author: mars
@Date:   2016-12-31T00:30:20-05:00
@Last modified by:   mars
@Last modified time: 2017-01-04T20:54:20-05:00
-->


<div id="mapdiv" style="width: 100vw; height: 100vh;"></div>


<md-card class="fill-page blue-sky" style="position: absolute; bottom: 0;">
  <div class="vertical-wrapper">
    <div class="vertical-center">
      <span class="topleft-corner">{{currentTz}}</span>
      <span class="top-corner">{{countryName}}</span>
      <span class="bottomleft-corner">{{currentYear}} ends</span>
      <span class="bottomright-corner">{{currentTime}}</span>
      <div class="box title" *ngIf="!initializing">
        {{endOfYear | amDifference: today :'seconds' }}
      </div>
      <div class="box description" *ngIf="!initializing">
        {{endOfYear | amTimeAgo}}
      </div>
    </div>
  </div>

<div class="cover-all"></div>

</md-card>
